<launch>

  <arg name="machine" default="localhost"/>

  <machine name="localhost" address="127.0.0.1" default="true"/>

  <node name="ptam"
        pkg="ptam"
        type="ptam"
        clear_params="true"
        output="log"
        machine="$(arg machine)">
    <remap from="image" to="/head_cam/image_mono"/>
    <remap from="pose" to="pose"/>
    <rosparam file="$(find ptam)/PtamFixParamsPS3Eye.yaml"/>
  </node>

  <node name="ptam_visualizer"
        pkg="ptam"
        type="ptam_visualizer"
        output="log"
        machine="$(arg machine)">
    <param name="ShowPC" type="bool" value="true"/>
    <param name="ShowAllKFs" type="bool" value="true"/>
    <param name="ShowPath" type="bool" value="true"/>
  </node>
</launch>

