<launch>
    <node name="ptam" pkg="ptam" type="ptam" clear_params="true" output="screen">
	    <remap from="image" to="/head_cam/image_mono" />
      <remap from="pose" to="pose"/>
	    <rosparam file="$(find ptam)/PtamFixParamsPS3Eye.yaml"/>
    </node>
    <node name="ptam_visualizer" pkg="ptam" type="ptam_visualizer" output="screen"/>
</launch>

